body{
    padding: 0px;
    margin: 0px;
}



h1{
    text-align: center;
    font-family: 'Koulen', cursive;

}


.container{
    background-color: rgba(233, 193, 14, 0.945);
    width: 40em;
    height: 4em;
    margin: auto;


}

h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.container2{
    align-items: center;
    display: flex;
    justify-content: center;
}


h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#box2{
   margin-left: 1rem;


}

.container3{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: red;
    font-weight: 700;
    padding: 15px;
}

#um{
    display: none;
}

#two{
    display: none;
}

.container4{
    align-items: center;
    display: flex;
    justify-content: center;
}

#img{

    display:none;

}

footer{
    background-color: rgba(233, 193, 14, 0.945);
    width: 40em;
    height: 4em;
    margin: auto;
    margin-top: 1rem;
}

.final{
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 30px;


}


 #botao{

    margin-left: 1rem;
    display: none;
<<<<<<< Updated upstream

=======
    
>>>>>>> Stashed changes
} 


#box3{
    display: none;
    margin-left: 1rem;
}


#img2{
<<<<<<< Updated upstream
    display: none;
}


#img3{
    display: none;
}


#teste{
    display: none;
    margin-left: 10px;
}


#box4{
    display: none;
    margin-left: 15px;
}

#finalb{
    display: none;
    margin-left: 15px;
}

=======
    visibility: hidden;
}
>>>>>>> Stashed changes
